#home
  .ribbon
    .icon_top
      %i.large.inverted.linkedin.icon

  .ribbon.white.two.zero.pad
    .ui.container
      #image_header
        =image_tag 'man-thief.svg'
  .ribbon.red.three.pad
    .ui.center.aligned.container
      %h1 Linkedin Yanker
      %p Just a check for formatting